<!DOCTYPE html>
<html lang="ja">
<head>
 <meta charset="utf-8" />
 <meta name="viewport" content="width=device-width,initial-scale=1" />
 <title>Dojow Server /echo</title>
 <!-- BootstrapのCSS読み込み -->
 <link href="https://cdn.jsdelivr.net/npm/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
 <style>
 .bgcolor {
      background-color: whitesmoke;
      border-radius: 8px;
      padding: 10px
    }
 </style>
</head>

<body>
  <section class="container">
  <h1 class="text-center p-4 bgcolor">Echo</h1>
  <br />
  <form method="POST" class="mt-5 ms-4 p-4 bgcolor" style="border: solid thin silver" action="/echo_form">
    <div class="mt-5">
     <label class="form-label">Your Message</label>
     <input type="text" name="message" class="form-control" value="お元気ですか？" />
   </div>
   <div class="mt-4"><button type="submit" class="btn btn-primary"> Send </button></div>
   <div class="mt-4 fs-4"><%= message %></div>
  </form>
  </section>
</body>
</html>
